/* NAVIGATION */
:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

/* HEADER */
.gradient {
  background: rgb(2, 0, 36);
  background: linear-gradient(135deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
}

/* FEATURES LIST */
.features-list-icon {
  width: 4rem;
  height: 4rem;
}

.navbar {
  background: #F5F5F5;
}
#navbarNav ul li a{
  font-weight: bold;
}

#navbarNav ul li a:hover{
  color: #039bda;
  font-weight: bold;
}
